.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

#secondary a{
	color: $color__text-secondary;
	&:hover,
	&:focus {
		color: $color__link-hover;
	}
}

.widget-title {
	padding-bottom: $gutter__width*2;
	margin-bottom: $gutter__width*2;
	position: relative;
	&:after {
		background-color: $color__text-main;
		content: " ";
		width: $gutter__width*2;
		height: 2px;
		position: absolute;
		bottom: -1px;
		left: 0;
	}
}

.search-form,
.woocommerce-product-search {
	position: relative;
	label {
		margin: 0;
	}
	input[type="search"] {
		border-right-width: 0;
		float: left;
		width: calc( 100% - 42px );
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		-web-webkit-appearance: textfield;
	}
	.search-submit {
		float: right;
		width: 42px;
		height: 42px;
		padding: .5rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.tagcloud {
	margin-left: -2px;
	margin-right: -2px;
	overflow: hidden;
}

.widget_tag_cloud a,
.widget_product_tag_cloud a {
    background-color: transparent;
    border: 1px solid $color__text-secondary;
    color: $color__text-secondary;
    display: inline-block;
    @include font-size(0.875);
    font-weight: normal;
    line-height: 1;
    padding: 5px 10px;
    margin: 2px 2px;
    float: left;
    text-transform: none;
    position: relative;
    border-radius: .25rem;
	&:hover,
	&:focus {
	    background-color: $color__link;
	    border-color: $color__link;
	    color: #fff!important;
	    text-decoration: none;
	}
}

.widget_meta,
.widget_pages,
.widget_categories,
.widget_archive,
.widget_nav_menu,
.widget_recent_entries,
.widget_recent_comments,
.widget_product_categories {
	ul,
	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
		position: relative;
	}
	li {
		padding-top: .25rem;
		padding-bottom: .25rem;
	}
	ul ul {
		border-left: 2px solid $color__alpha-dark;
		margin-top: .5rem;
		padding-left: 1rem;
	}
}

.widget_latest_tweets_widget {
	ul,
	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	li {
		background-color: $color__white;
		overflow: hidden;
		padding: 10px;
		word-wrap: break-word;
		height: 100%;
		margin-bottom: 5px;
	}

	.tweet-profile-link {
		display: block;
		float: left;
		margin-right: 10px;
		overflow: hidden;
	}

	.tweet-profile,
	.tweet-details {
		a {
			color: #657786;
		}
	}

	.tweet-name {
		font-weight: bold;
	}

	.tweet-profile,
	.tweet-text,
	.tweet-details {
		padding-left: 58px;
		margin-bottom: 5px;
	}

	.tweet-details {
		margin-bottom: 0;
	}

	.tweet-screen,
	.tweet-details {
		font-size: 80%;
	}
}
