@import "variables";
@import "mixins";

body,
button,
input,
select,
optgroup,
textarea {
	font-family: $font__main;
}

body.mce-content-body {
	max-width: 720px;
	margin: 1.5rem;
}

p {
	margin: 0 0 1.5rem;
}

blockquote {
	quotes: "" "";
	margin: 0 0 1.5rem;
	padding: 1rem 1rem 1rem 1.5rem;
	box-shadow: inset .25rem 0 0 0 var(--color__blockquote);
	p:last-child {
		margin-bottom: 0;
	}
	&:before,
	&:after {
		content: "";
	}
}

pre {
	background-color: var(--color__pre-background);
	color: var(--color__pre);
	margin-bottom: 1.6rem;
	max-width: 100%;
	overflow: auto;
	padding: 1.5rem;
}

hr {
	background-color: var(--color__hr);
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

code, kbd, tt, var {
	color: var(--color__code);
}

mark, ins {
	background-color: var(--color__mark-background);
	color: var(--color__mark);
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

::selection {
	background: var(--color__selection-background);
	color: var(--color__selection-text);
}
::-moz-selection {
	background: var(--color__selection-background);
	color: var(--color__selection-text);
}

@import "elements/lists";
@import "elements/tables";

@import "forms/buttons";

@import "navigation/links";

@import "media/media";
