.sticky-wrapper {
	display: none;
	width: 100%;
	overflow: hidden;
}

/** Site Header */
.site-header {
	background-color: var(--color__header-background);
	background-attachment: scroll;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0 -1px 0 0 $color__alpha-dark05;
	color: var(--color__header-text);
	position: relative;
	transition: all .25s ease-in-out;
	z-index: 2;
	> .container {
		position: relative;
	}
	@include respond-to( tablet ) {
		.admin-bar &.sticky {
			top: 32px !important;
		}
		&.sticky {
			animation-name: balticSlideDown;
			animation-duration: .5s;
			box-shadow: 0 16px 64px 16px rgba( 0,0,0,.1 );
			will-change: transform;
			transform: translateZ(0px);
			position: fixed;
			width: 100%;
			top: 0px;
			left: 0px;
			z-index: 5;
			.main-navigation {
				display: none;
				&.show {
					display: block;
				}
			}
		}
	}
}

/** Site Branding */
.site-branding {
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;
	float: left;
	left: 0;
	max-width: 60%;
	z-index: 1;
	transition: all .25s ease-in-out;
	&,
	a {
		color: var(--color__header-text);
		&:hover,
		&:focus {
			color: var(--color__header-text);
		}
	}
	@include respond-to( tablet ) {
		max-width: 180px;
		.sticky & {
			left: 3rem;
		}
	}
}

.site-title,
.site-description {
	line-height: 1;
	margin: 0;
}

.site-title {
	@include font-size(2);
	font-weight: bold;
	margin-bottom: .25rem;
}

.site-description {
	color: var(--color__header-text);
	display: block;
	@include font-size(0.75);
	opacity: 0.5;
}

a.custom-logo-link {
	display: block;
	max-width: 180px;
	max-height: 46px;
	margin-top: 2px;
	margin-bottom: 2px;
	img {
		display: block;
		vertical-align: middle;
	    width: auto;
	    height: auto;
	    max-width: 180px;
	    max-height: 46px;
	}
}

/** Header search */
.header-search-area {
	clear: both;
	margin-bottom: 1rem;
	transition: all .25s ease-in-out;
	label {
		margin: 0;
	}
	input[type="search"] {
		background-color: var(--color__header-input);
		border-color: var(--color__header-input-border);
		border-right-width: 0;
		color: var(--color__header-textfield);
		width: 50%;
		height: 50px;
		&::-webkit-input-placeholder {
			color: var(--color__header-textfield);
		}

		&:-moz-placeholder {
			color: var(--color__header-textfield);
		}

		&::-moz-placeholder {
			color: var(--color__header-textfield);
		}

		&:-ms-input-placeholder {
			color: var(--color__header-textfield);
		}
	}
	.search-filter {
		background-color: var(--color__header-input);
		border-color: var(--color__header-input-border);
		border-right-width: 1px;
		color: var(--color__header-textfield);
		float: left;
		width: 50%;
	    height: 50px;
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
	}
	input[type="search"],
	.search-filter {
		&:focus {
			background-color: var(--color__header-input-focus);
			border-color: var(--color__header-input-border-focus);
			color: var(--color__header-textfield-focus);
		}
	}
	.search-submit {
		background-color: var(--color__header-btn);
		border-color: var(--color__header-input-border);
		display: none;
		height: 50px;
		width: 50px;
		.icon-stroke {
			stroke: var(--color__header-btn-icon);
		}
		&:hover,
		&:focus {
			background-color: var(--color__header-btn-hover);
			border-color: var(--color__header-btn-hover);
			.icon-stroke {
				stroke: var(--color__header-btn-icon-hover);
			}
		}
	}

	@include respond-to( mobile ) {
		input[type="search"] {
			width: calc( 100% - 200px );
		}
		.search-filter {
			border-right-width: 0;
			width: 150px;
		    border-top-right-radius: 0;
		    border-bottom-right-radius: 0;
		}
		.search-submit {
			display: block;
		}
	}

	@include respond-to( tablet ) {
	    position: absolute;
	    top: 0;
	    right: 0;
	    padding-top: 1rem;
	    width: 100%;
	    padding-right: 160px;
	    padding-left: 220px;
	    .sticky & {
	    	padding-left: 270px;
	    }
	}
}

.search-filter {
	background-position:
		calc(100% - 15px) calc(1em + 7px),
		calc(100% - 10px) calc(1em + 7px);
}

// Header extra
.site-header-extra {
	float: right;
	padding-top: 1rem;
	padding-bottom: 0;
	max-width: 40%;
	z-index: 6;
	position: relative;
	ul,
	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	li {
		display: inline-block;
	}
	a {
		color: var(--color__header-text);
		display: block;
		width: 32px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		position: relative;
	}

	.total {
		background-color: var(--color__link);
		color: $color__white;
		@include font-size( 0.75 );
		line-height: 20px;
		height: 20px;
		min-width: 20px;
		position: absolute;
		top: 4px;
		right: -4px;
		border-radius: 20px;
		box-shadow: 0 2px 8px $color__alpha-dark;
		&.hide {
			display: none;
		}
	}

	.icon-stroke {
		opacity: .5;
		width: 1.5rem;
		height: 1.5rem;
	}

	@include respond-to( mobile ) {
		a {
			width: 50px;
		}
		.total {
			top: 4px;
			right: 4px;
		}
	}

	@include respond-to( tablet ) {
		.stick & {
			padding-top: 1rem;
		}
	}
}

.site-header-extra-toggle {
	background-color: var(--color__container);
	position: absolute;
	top: 90px;
	right: 1rem;
	padding: 1rem;
	line-height: 1.5;
	width: 300px;
	visibility: hidden;
	@include radius-shadow();
	z-index: 9;
	&.show {
		visibility: visible;
		animation-name: balticZoomIn;
		animation-duration: .25s;
	}
	&:before {
		position: absolute;
		top: -8px;
		right: 15px;
		width: 0;
		height: 0;
		border-width: 0 9px 9px 9px;
		border-style: solid;
		border-color: transparent transparent var(--color__container) transparent;
		content: " ";
		transform: rotate(360deg);
	}
	.widget {
		margin-bottom: 0;
	}
	.woocommerce-mini-cart {
		padding: 1rem;
		max-height: 250px;
		overflow-x: hidden;
		overflow-y: auto;
		box-shadow: inset 0 0 0 1px $color__alpha-dark05;
	}
	ul.cart_list li {
		margin: .25rem 0;
		padding: .25rem 0;
	}
	.widget_shopping_cart .total {
		border-top-width: 0;
	}
	.woocommerce-mini-cart__empty-message {
		margin: 0;
	}
}

/** Page Header */
.page-header {
	background-color: $color__alpha-dark;
	position: relative;
	overflow: hidden;
	z-index: 0;
	transition: all ease-in-out .25s;
	.full-width &,
	.narrow &,
	&.page-header-has-thumbnail {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	&.page-header-has-thumbnail {
		color: $color__white;
	}
}

.page-header-inner {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	.full-width &,
	.narrow &,
	.page-header-has-thumbnail & {
		@include respond-to( tablet ) {
			max-width: 70%;
			margin-left: auto;
			margin-right: auto;
		}
	}

}

.page-header-description {
	margin-top: 1rem;
}

.page-header-thumbnail {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	padding: 0;
	margin: 0;
	overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
	&:after {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    content: " ";
	    box-shadow: inset 0 1px 0 rgba( 255,255,255,.25 );
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.9+0,0.3+100 */
		background: -moz-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#4d000000',GradientType=1 ); /* IE6-9 */
	}
}

.page-header-title {
	@include font-size(2);
	font-weight: var(--heading__weight);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.25;
    @include respond-to( tablet ) {
		@include font-size(2.5);
    }
}
