@import "header";
@import "footer";

.overflow-hidden {
	overflow: hidden;
}

.site-content {
	padding: 1rem 0;
	@include respond-to( tablet ) {
		padding: 2rem 0;
	}
	@include respond-to( widescreen ) {
		padding: 3rem 0;
	}
	.elementor-page & {
		padding: 0;
	}
}

.boxed-layout {

	.site {
		background-color: var(--color__container);
		margin-left: auto;
		margin-right: auto;
		@include respond-to( tablet ) {
			box-shadow: 0 32px 64px rgba( 38, 50, 56, .15 );
		}
		@include respond-to( desktop ) {
			max-width: 1000px;
		}
		@include respond-to( widescreen ) {
			max-width: $widescreen;
		}
		@include respond-to( fullhd ) {
			max-width: $fullhd;
		}
	}

}

.container {
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-right: auto;
	margin-left: auto;
	@include respond-to( widescreen ) {
		max-width: 1140px;
	}
}

.columns {
	margin-right: -1rem;
	margin-left: -1rem;

	.column-item {
		float: left;
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
	}

}

@for $i from 2 through 6 {
	.columns-#{$i} {
		.column-item {
			@include column-width( $i );
		}
	}
}

@include respond-to( mobile ) {

	@for $i from 2 through 6 {
		.columns-sm-#{$i} {
			.column-item {
				@include column-width( $i );
			}
		}
	}

}

@include respond-to( tablet ) {

	.content-sidebar {
		#primary {
			width: 100%;
			/*rtl:begin:ignore*/
			float: left;
			padding-right: 332px;
			/*rtl:end:ignore*/
		}
		#secondary {
			width: 300px;
			/*rtl:begin:ignore*/
			float: right;
			margin-left: -332px;
			/*rtl:end:ignore*/
		}
	}

	.sidebar-content {
		#primary {
			width: 100%;
			/*rtl:begin:ignore*/
			float: right;
			padding-left: 332px;
			/*rtl:end:ignore*/
		}
		#secondary {
			width: 300px;
			/*rtl:begin:ignore*/
			float: left;
			margin-right: -332px;
			margin-left: 0;
			/*rtl:end:ignore*/
		}
	}

	.narrow {
		#primary {
			width: 100%;
			max-width: 776px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@for $i from 2 through 6 {
		.columns-md-#{$i} {
			.column-item {
				@include column-width( $i );
			}
		}
	}

}

@include respond-to( desktop ) {

	@for $i from 2 through 6 {
		.columns-lg-#{$i} {
			.column-item {
				@include column-width( $i );
			}
		}
	}

}
