.woocommerce {
	p.cart-empty,
	p.return-to-shop {
		text-align: center;
	}

	p.cart-empty {
		padding-top: 15vh;
	}
	p.return-to-shop {
		padding-bottom: 15vh;
	}
}

.cart-collaterals {
	h2 {
		@include font-size(1.5);
		margin-bottom: 1.25rem;
	}
	@include respond-to( tablet ) {
		.cross-sells {
			float: left;
			width: 50%;
			padding-right: 1rem;
		}
		.cart_totals {
			float: right;
			width: 50%;
			padding-left: 1rem;
		}
	}
}

.woocommerce-billing-fields h3,
#order_review_heading,
.woocommerce-additional-fields h3 {
	font-size: var(--h5__size-px);
	font-size: var(--h5__size);
	margin-bottom: 2rem;
}

.woocommerce .woocommerce-checkout {
	padding-top: 2rem;
}

.place-order {
	margin-top: 1rem;
	margin-bottom: 1rem;
	@include respond-to( tablet ) {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}

.woocommerce-cart-form {

	.woocommerce & .qty {
		width: 4rem;
	}
	.coupon {
		width: 100%;
		margin-bottom: .5rem;
		input[type="text"],
		.button {
			width: 100%;
			margin-top: .5rem;
			@include respond-to( tablet ) {
				margin-top: 0;
				float: left;
				width: 50%;
			}
		}

		@include respond-to( tablet ) {
			float: left;
			width: 50%;
			margin-bottom: 0;
		}
	}

	.button {
		width: 100%;
		&[disabled] {
			background-color: var(--color__button);
			border-color: var(--color__button);
			cursor: not-allowed;
			opacity: .5;
		}
		@include respond-to( tablet ) {
			float: right;
			width: auto;
		}
	}
}

#ship-to-different-address {
	margin-bottom: 1.5rem;
	label {
		font-weight: 300;
		cursor: pointer;
		line-height: 2;

		span {
			position: relative;
			display: block;

			&:before {
				content: "";
				display: block;
				height: 16px;
				width: 30px;
				border: 2px solid var(--color__text-primary);
				background: var(--color__text-primary);
				border-radius: 13em;
				box-sizing: content-box;
				transition: all ease-in-out .3s;
				position: absolute;
				top: 4px;
				right: 0;
			}

			&:after {
				content: "";
				display: block;
				width: 14px;
				height: 14px;
				background: var(--color__container);
				position: absolute;
				top: 7px;
				right: 17px;
				border-radius: 13em;
				transition: all ease-in-out .3s;
			}
		}

		input[type=checkbox] {
			display: none;
		}

		input[type=checkbox]:checked + span:after {
			right: 3px;
		}

		input[type=checkbox]:checked + span:before {
			border-color: var(--color__text-primary);
			background: var(--color__text-primary);
		}
	}
}

.woocommerce-checkout-review-order-table {
	border-bottom-width: 0;
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	tfoot {
		border-top: 2px solid var(--color__border);
		border-bottom: 1px solid var(--color__border);
		th {
			text-align: right;
		}
		tr,
		td {
			background-color: transparent;
		}
	}
}

.wc_payment_methods {
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
	overflow: hidden;
	box-shadow: inset 0 -1px 0 1px var(--color__border);
	&,
	.li {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	li {
		border-bottom: 1px solid var(--color__border);
		&:last-child {
			border-bottom-width: 0;
		}
	}
	.payment_box {
		background-color: $color__alpha-dark05;
		border-top: 1px solid var(--color__border);
		@include font-size(0.875);
		overflow: hidden;
		padding: 1rem;
		p {
			margin: 0 0 .5rem;
			&:last-child {
				margin-bottom: 0;
			}
		}

		ul,
		ol {
			&:last-of-type {
				margin-bottom: 0;
			}
		}

		fieldset {
			padding: 1.5em;
			padding-bottom: 0;
			border: 0;
			background: #f6f6f6;
		}

		li {
			list-style: none;
		}

	}

	> label:first-of-type {
		margin: 1em 0;

		img {
			max-height: 24px;
			max-width: 200px;
			float: right;
		}
	}

	label {
		cursor: pointer;
		margin-bottom: 0;
		padding: 1rem;
	}

	input.input-radio[name=payment_method] {
		display: none;

		& + label {
			&:before {
				content: "";
				display: inline-block;
				width: 16px;
				height: 16px;
				border: 2px solid var(--color__container);
				box-shadow: 0 0 0 2px var(--color__text-primary);
				background: var(--color__container);
				margin-left: 4px;
				margin-right: .5em;
				border-radius: 100%;
				transform: translateY(2px);
			}
		}

		&:checked + label {
			&:before {
				background: var(--color__text-primary);
			}
		}
	}

	img {
		vertical-align: middle;
		margin: -2px 0 0 .5rem;
		padding: 0;
		position: relative;
		max-height: 48px;
	}

}

.payment_method_paypal .about_paypal {
    float: right;
    line-height: 2;
}

.wc-terms-and-conditions {
	margin-top: .75rem;
	margin-bottom: .75rem;
	@include respond-to( tablet ) {
		float: left;
	}
}

.woocommerce-terms-and-conditions {
	background-color: $color__alpha-dark05;
	border: 1px solid $color__border;
	@include font-size(0.875);
	padding: 2rem;
	margin-bottom: 2rem;
	border-radius: .25rem;
}

.wcppec-checkout-buttons__separator {
	text-align: center;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

a.wcppec-cart-widget-button,
a.wcppec-checkout-buttons__button {
	background-color: #ffc439;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: auto 50%;
	display: block;
	margin-top: .5rem;
	width: 100%;
	padding: .5rem;
	border-radius: .25rem;
	&:hover,
	&:focus {
		background-color: #f2ba36;
	}
	img {
		visibility: hidden;
		vertical-align: middle;
	}
}

a.wcppec-checkout-buttons__button {
	padding-top: .75rem;
	padding-bottom: .75rem;
}

.checkout-button,
#place_order {
	display: block;
	@include font-size(1.125);
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 1.5rem;
}

@include respond-to( tablet ) {
	.col2-set {
		.form-row-first {
			float: left;
		}

		.form-row-last {
			float: right;
			margin-right: 0;
		}

		.form-row-first,
		.form-row-last {
			@include column-width(2);
		}
	}

	.place-order {
		.button {
			display: inline-block;
			float: right;
			width: auto;
		}
	}

	.form-row-first,
	.form-row-last {
		float: left;
		width: 50%;
	}

	.form-row-first {
		padding-right: 1rem;
	}
	.form-row-last {
		padding-left: 1rem;
	}

	.full-width {

		#customer_details {
			float: left;
			width: 50%;
			padding-right: 1rem;
		}
		#order_review_heading,
		#order_review {
			float: right;
			width: 50%;
			padding-left: 1rem;
		}

	}

}

.woocommerce-privacy-policy-text {
    background-color: $color__alpha-dark05;
    color: var(--color__text-secondary);
    padding: 1rem;
	@include font-size(0.875);
    margin-bottom: 1rem;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    border-radius: .25rem;
    p:last-child {
    	margin-bottom: 0;
    }
}
