.onsale {
	background-color: $woocommerce__color-error;
	color: #fff;
	padding: .25rem .5rem;
	position: absolute;
	top: $gutter__width;
	left: -$gutter__width/2;
	z-index: 1;
	box-shadow: 5px 5px 0 $color__alpha-dark;
	&:before {
	    content: " ";
	    border-style: solid;
	    border-width: 5px 0 0 5px;
	    border-color: #222 transparent transparent transparent;
	    height: 0;
	    position: absolute;
	    left: 0;
	    bottom: -5px;
	    width: 0;
	}
}

/**
 * Star rating
 */
.star-rating {
	display: inline-block;
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-family: 'star';
	font-weight: 400;
	vertical-align: bottom;
	&:before {
		content: "\53\53\53\53\53";
		opacity: .25;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	}

	span:before {
		content: "\53\53\53\53\53";
		top: 0;
		position: absolute;
		left: 0;
		color: $color__stars;
	}
}

p.stars {
	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		margin-right: 1px;
		font-weight: 400;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			font-family: "star";
			content: "\53";
			color: $color__text-main;
			text-indent: 0;
			opacity: .25;
		}

		&:hover {
			~ a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}
	}

	&:hover {
		a {
			&:before {
				content: "\53";
				color: $color__stars;
				opacity: 1;
			}
		}
	}

	&.selected {
		a.active {
			&:before {
				content: "\53";
				color: $color__stars;
				opacity: 1;
			}

			~ a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}

		a:not(.active) {
			&:before {
				content: "\53";
				color: $color__stars;
				opacity: 1;
			}
		}
	}
}

/**
 * Tabs
 */
.woocommerce-tabs {
	clear: both;
	padding-top: 1.5rem;
	margin-bottom: 1.5rem;

	h2 {
		@include font-size(1.5);
	}
	ul.tabs {
		background-color: $color__white;
		list-style: none;
		margin: 0 0 1.5rem;
		padding: 0;
		text-align: left;

		li {
			border-left: 2px solid $color__alpha-dark05;
			display: block;
			margin: 0;
			position: relative;

			a {
				padding: 1rem;
				display: block;
				color: $color__text-main;
			}
			&.active {
				background-color: $color__alpha-dark05;
				border-color: $color__link;
			}
		}
	}

	.panel {
		h2:first-of-type {
			margin-bottom: 1.5rem;
		}
	}

	@include respond-to( medium ) {
		ul.tabs {
			border-bottom: 2px solid $color__alpha-dark05;
			margin-bottom: 1.5rem;
			li {
				border-left-width: 0;
				border-bottom: 2px solid transparent;
				float: left;
				margin-bottom: -2px;
				a {
					padding: 1rem;
					display: block;
					color: $color__text-main;
				}
				&.active {
					background-color: transparent;
					border-color: $color__link;
				}
			}
		}
	}
}

/**
 * Password strength meter
 */

.woocommerce-password-strength {
	display: block;
	color: $color__white;
	@include font-size(0.875);
	margin-top: 0.5rem;
	padding: 0.5rem;
	text-align: center;
	border-radius: .25rem;
	box-shadow: inset 0 0 0 1px $color__alpha-dark;

	&.strong {
		background-color: $woocommerce__color-success;
	}

	&.short {
		background-color: $woocommerce__color-error;
	}

	&.bad {
		background-color: $woocommerce__color-error;
	}

	&.good {
		background-color: $woocommerce__color-info;
	}
}

small.woocommerce-password-hint {
	background-color: #fff176;
	color: #ff6f00;
	display: block;
	margin-top: 0.5rem;
	padding: 1rem;
	border-radius: 0.25rem;
	box-shadow: inset 0 0 0 1px $color__alpha-dark;
}

/**
 * Forms
 */
.form-row {
	&.woocommerce-validated {
		input.input-text {
			box-shadow: inset 2px 0 0 $woocommerce__color-success;
		}
	}

	&.woocommerce-invalid {
		input.input-text {
			box-shadow: inset 2px 0 0 $woocommerce__color-error;
		}
	}
}

.required {
	color: red;
}

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments,
.comment-notes {
	background-color: $color__white;
	border-left: 5px solid  $woocommerce__color-success;
	clear: both;
	color: $color__text-secondary;
	@include font-size(0.875);
	line-height: 1.8;
	overflow: hidden;
	margin-bottom: $gutter__width;
	padding: $gutter__width;
	position: relative;
	box-shadow: inset 0 0 0 1px $color__alpha-dark;
	border-radius: .25rem;
	li {
		list-style: none outside !important;
		padding-left: 0 !important;
		margin-left: 0 !important;
	}
	.button {
		float: right;
		padding-top: .25rem;
		padding-bottom: .25rem;
	}
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments,
.comment-notes {
	border-left-color: $woocommerce__color-info;
}

.woocommerce-error {
	border-left-color: $woocommerce__color-error;
}

.woocommerce-notice {
	padding: .5rem;
	text-align: center;
	border-radius: .25rem;
}

.woocommerce-notice--info {
	background-color: $woocommerce__color-info;
	color: $color__white;
}

.woocommerce-notice--success {
	background-color: $woocommerce__color-success;
	color: $color__white;
}

.woocommerce-notice--error {
	background-color: $woocommerce__color-error;
	color: $color__white;
}

.demo_store {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 1em;
	background-color: $woocommerce__color-info;
	z-index: 9999;
}

.woocommerce {
	.blockUI.blockOverlay,
	.loader {
		background-color: #fff!important;
		&::before {
			content: " ";
			border: 2px solid #000;
			border-radius: 50%;
			border: 2px solid #000;
			border-top-color: $color__link;
			width: 24px;
			height: 24px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -8px;
			margin-left: -8px;
	    	transform: translate(-50%, -50%);
			animation: spin 2s linear infinite;
		}
	}
	.blockUI.blockOverlay {
		position: relative;
		z-index: 1!important;
	}
}

a.reset_variations:before {
	content: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZlcnNpb249JzEuMScgdmlld0JveD0nMCAwIDMyIDMyJyB3aWR0aD0nMTYnIGhlaWdodD0nMTYnIGZpbGw9J25vbmUnIHN0cm9rZT0nY3VycmVudGNvbG9yJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHN0cm9rZS13aWR0aD0nMic+PHBhdGggZD0nTTI5IDE2IEMyOSAyMiAyNCAyOSAxNiAyOSA4IDI5IDMgMjIgMyAxNiAzIDEwIDggMyAxNiAzIDIxIDMgMjUgNiAyNyA5IE0yMCAxMCBMMjcgOSAyOCAyJyAvPjwvc3ZnPg==");
	margin-right: .5rem;
	vertical-align: middle;
}

.select2-container--default .select2-selection--single {
	background-color: transparent;
}

.select2-container--default .select2-selection--single,
.select2-dropdown {
	background-color: $color__white;
	border-color: $color__border-input;
}

.select2-container .select2-selection--single {
	height: 42px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	line-height: 42px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 8px;
	right: 8px;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-dropdown {
	border-radius: .25rem!important;
}

.pswp__button {
	&:hover,
	&:focus {
		background-color: transparent;
	}
}
