/**
 * Shop tables
 */
table.shop_table_responsive {
	thead {
		display: none;
	}

	tbody {
		th {
			display: none;
		}
	}
	tr,
	td {
		vertical-align: top;
	}

	tr {
		td {
			display: block;
			text-align: right;
			clear: both;

			&:before {
				content: attr(data-title) ': ';
				float: left;
			}

			&.product-remove {
				&:before {
					display: none;
				}
			}

			&.actions,
			&.download-actions {
				&:before {
					display: none;
				}
			}

			&.download-actions {
				.button {
					display: block;
					text-align: center;
				}
			}
			&.product-thumbnail {
				display: none;
			}
		}
	}

	.coupon label {
		display: none;
	}
}

table.cart img {
	display: block;
	width: 48px;
	height: auto;
}

.product-remove {
	text-align: center;
	position: relative;
	a {
		background-color: $color__text-main;
		color: $color__white!important;
		display: inline-block;
		font-size: 1rem;
		font-weight: normal;
		font-family: sans-serif;
		height: 1.5rem;
		width: 1.5rem;
		text-align: center;
		line-height: 1.5;
		border-radius: 100%;
		text-decoration: none;
		border: 0;
		&:hover,
		&:focus {
			background-color: $woocommerce__color-error;
			color: $color__white!important;
		}
	}
}

.variations_form {
	.table-responsive {
		border: none;
		box-shadow: none;
	}
	tbody td,
	tfoot td,
	tbody tr:nth-of-type(even),
	tfoot tr:nth-of-type(even) {
		background-color: transparent;
		border-width: 0;
	}
}

.shop_attributes {
	td,
	th {
		padding: .5rem;
	}
}

.woocommerce {

	table.wishlist_table {
		@include font-size(1);
	}

	table.wishlist_table thead th {
		border: none;
	}

	table.wishlist_table thead th,
	table.wishlist_table tbody td {
		border-color: $color__alpha-dark;
	}

	table.wishlist_table tr td.product-remove {
		padding: .75rem;
	}

	#content table.wishlist_table.cart a.remove {
		padding: 0;
	}

}

.wishlist_table tr td.product-name {
	text-align: right;
	@include respond-to( medium ) {
		text-align: left;
	}
}

.yith-wcwl-share {
	margin-bottom: $gutter__width;
}

@media screen and (min-width: 48em) {
	table.shop_table_responsive {
		thead {
			display: table-header-group;
		}

		tbody {
			th {
				display: table-cell;
			}
		}

		tr {
			th, td {
				text-align: left;
			}

			td,
			td.product-thumbnail {
				display: table-cell;

				&:before {
					display: none;
				}
			}
		}
		.product-remove {
			text-align: center
		}
	}

}
