.wp-caption {
	border: 1px solid var(--color__border);
	padding: .5rem;
	margin-top: 0;
	margin-bottom: 1.5rem;
	max-width: 100%;
	overflow: hidden;
	border-radius: .25rem;

	img[class*="wp-image-"] {
		@include center-block;
	}

	> a {
		display: block;
		img {
			vertical-align: middle;
		}
		&:hover img,
		&:focus img {
			opacity: 0.5;
		}
	}
}

.wp-caption-text {
	text-align: center;
	@include font-size(0.875);
	padding: 1rem 1rem .5rem;
}

.wp-block-image {
	img {
		display: block;
		vertical-align: middle;
	}
}
