.error404 {
	.site-content>.container {
		padding-top: 0;
		padding-bottom: 0;
	}
	.site-main {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    text-align: center;
	    height: calc( 100vh - 147px );
	}
	&.admin-bar .site-main {
		height: calc( 100vh - 179px );
	}

}

.error-404 {
	padding-top: $gutter__width*2;
	padding-bottom: $gutter__width*2;
}
