.baltic-require-plugin {
	background-color: $woocommerce__color-error;
	color: $color__white;
    text-align: center;
    padding: 1rem;
}

.homepage-section {
	position: relative;
	padding-top: $gutter__width*2;
	padding-bottom: $gutter__width*2;
	z-index: 0;
}

.homepage-description {
	margin-bottom: $gutter__width*3;
}

.homepage-title,
.homepage-description {
	@include respond-to( medium ) {
		max-width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}

.homepage-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/** Hero */
.baltic-homepage-hero-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    transition: all .5s;
    min-height: calc( 100vh - 178px );
    @include respond-to( medium ) {
		min-height: calc( 100vh - 147px );
    }
    .admin-bar & {
    	min-height: calc( 100vh - 224px );
    	@include respond-to( medium ) {
			min-height: calc( 100vh - 179px );
    	}
    }
}

.baltic-homepage-hero-inner {
	width: 100%;
}

.baltic-homepage-hero-area {
	display: inline-block;
	padding-top: $gutter__width*4;
	padding-bottom: $gutter__width*4;
    @include respond-to( medium ) {
		max-width: 60%;
    }
}

.baltic-hero-title {
	margin-bottom: 1.5rem;
	@include respond-to( medium ) {
		@include font-size(3);
		line-height: 1;
	}
}

.baltic-hero-description {
	@include font-size(1.125);
	margin-bottom: 2rem;
}

.hero-button-1,
.hero-button-2 {
	padding: 1rem 1.5rem;
	margin: 0 5px;
}

/** Slider */
.baltic-homepage-slider {

}

.slide-item {
	position: relative;
}

.slide-inner {
	background-position: center center;
	background-attachment: scroll;
	background-position: top center;
	background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all .5s;
    min-height: calc( 100vh - 178px );
    @include respond-to( medium ) {
		min-height: calc( 100vh - 147px );
    }
    .admin-bar & {
    	min-height: calc( 100vh - 224px );
    	@include respond-to( medium ) {
			min-height: calc( 100vh - 179px );
    	}
    }
}

.slide-content {
	max-width: 720px;
	padding: $gutter__width*4 $gutter__width*4;
	@include respond-to( medium ) {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.slide-title {
	font-weight: bold;
}

.slide-description {
	@include font-size(1.125);
	padding: $gutter__width 0;
}

.slide-title,
.slide-description {
	text-shadow: 0 4px 8px rgba(0,0,0,.25);
}

.slide-button-1,
.slide-button-2 {
	padding: 1rem 1.5rem;
	margin: 0 5px;
}

@include respond-to( medium ) {

	.slide-title,
	.slide-description,
	.slide-button-1,
	.slide-button-2 {
		transition: all .75s;
		transition-timing-function: ease-in-out;
		transition-delay: .5s;
		position: relative;
		opacity: 0;
		transform: scale(5) rotateX(360deg);

		.slick-current &{
			opacity: 1;
			transform: scale(1) rotateX(0deg);
		}
	}

	.fade-true {
		.slide-inner {
			overflow: hidden;
			transition: all .5s;
			transform: scale(5);
		}
		& .slick-current .slide-inner {
			transform: scale(1);
		}
	}

}

/** Product Categories */
.product-categories__wrapper {
	display: grid;
	justify-content: stretch;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.product-categories__item {
	background-color: $color__text-main;
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.product-categories__inner {
	color: $color__white;
	padding: $gutter__width*2;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	@include respond-to( medium ) {
		padding: $gutter__width*4;
	}
}

.product-categories__thumbnail {
	background-position: top center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

@include respond-to( medium ) {

	@for $i from 2 through 6 {
		.total-items-#{$i} {
			grid-template-columns: repeat( #{$i}, 1fr );
		}
	}

	.product-categories__wrapper {
		&.total-items-3 .item-1{
		    grid-column-start: 1;
		    grid-column-end: 3;
		    grid-row-start: 1;
		    grid-row-end: 3;
		}
		&.total-items-4 {
			.item-1 {
			    grid-column-start: 1;
			    grid-column-end: 2;
			    grid-row-start: 1;
			    grid-row-end: 3;
			}
			.item-2 {
			    grid-column-start: 2;
			    grid-column-end: 4;
			    grid-row-start: 1;
			    grid-row-end: 2;
			}
			.item-3 {
			    grid-column-start: 2;
			    grid-column-end: 4;
			    grid-row-start: 2;
			    grid-row-end: 3;
			}
			.item-4 {
			    grid-column-start: 4;
			    grid-column-end: 5;
			    grid-row-start: 1;
			    grid-row-end: 3;
			}
		}

		&.total-items-5 {
			.item-1 {
			    grid-column-start: 1;
			    grid-column-end: 4;
			    grid-row-start: 1;
			    grid-row-end: 3;
			}
			.item-2,
			.item-3 {
    			grid-column-start: 4;
    			grid-column-end: 6;
			}
			.item-4 {
				grid-column-start: 1;
				grid-column-end: 3;
			}
			.item-5 {
				grid-column-start: 3;
				grid-column-end: 6;
			}
		}

		&.total-items-6 {
			.item-1 {
			    grid-column-start: 1;
			    grid-column-end: 4;
			    grid-row-start: 1;
			    grid-row-end: 3;
			}
			.item-2 {
			    grid-column-start: 4;
			    grid-column-end: 7;
			    grid-row-start: 1;
			    grid-row-end: 2;
			}
			.item-3 {
			    grid-column-start: 4;
			    grid-column-end: 7;
			    grid-row-start: 2;
			    grid-row-end: 3;
			}
			.item-4 {
			    grid-column-start: 1;
			    grid-column-end: 3;
			}
			.item-5 {
			    grid-column-start: 3;
			    grid-column-end: 5;
			}
			.item-6 {
			    grid-column-start: 5;
			    grid-column-end: 7;
			}
		}

	}

}

/** Products section */
.homepage-products {

	ul.products li.product {
		padding-top: $gutter__width;
	}

}

/** Posts section */

.homepage-posts {

	.entry-title {
		@include font-size(1.25);
	}
}


/** Latest Tweets */
.homepage-products,
.homepage-twitter {

	.baltic-slick-dots {
		bottom: -1.5rem;
	}

	.baltic-slick-dots li button {
		background-color: $color__text-main;
		width: .5rem;
		height: .5rem;
		border-radius: .5rem;
	}

}

.baltic-twitter__item {
	background-color: $color__white;
	padding: $gutter__width;
	margin-bottom: $gutter__width;
	@include radius-shadow();
	.slick-slider & {
		@include radius-border();
	}
	@include respond-to( medium ) {
		padding: $gutter__width*2;
		margin-bottom: $gutter__width*2;
	}

}

.baltic-twitter__profile {
	overflow: hidden;
	margin-bottom: $gutter__width;
}

.baltic-twitter__username {
	color: $color__text-main;
	&:hover,
	&:focus {
		color: $color__link;
	}
	span {
		display: block;
	}
}

.baltic-twitter__userpict {
	display: block;
	float: left;
	margin-right: $gutter__width;
}

.baltic-twitter__name {
	font-weight: bold;
}

.baltic-twitter__screen {
	color: $color__text-secondary;
	@include font-size( 0.75 );
}

.baltic-twitter__text {
	margin-bottom: 1rem;
	word-wrap: break-word;
}

a.baltic-twitter__date {
	@include font-size(0.875);
	color: $color__text-secondary;
	&:hover,
	&:focus {
		color: $color__link;
	}
	.icon {
		margin-right: 5px;
	}
}
