body,
button,
input,
select,
optgroup,
textarea {
	color: var(--color__text-primary);
	font-family: var(--main__family);
	font-weight: var(--main__weight);
	text-transform: var(--main__transform);
	font-size: var(--main__size-px);
	font-size: var(--main__size);
	line-height: var(--main__line-height);
}

@import "headings";

@import "copy";
