#secondary a{
	color: var(--color__text-secondary);
	&:hover,
	&:focus {
		color: var(--color__link-hover);
	}
}


.widget {
	margin: 0 0 1.5rem;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-title {
	@include font-size(1);
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	position: relative;
	&:after {
		background-color: var(--color__text-primary);
		content: " ";
		width: 1rem;
		height: 2px;
		position: absolute;
		bottom: -1px;
		left: 0;
		border-radius: 2px;
	}
}

.search-form,
.woocommerce-product-search {
	position: relative;
	label {
		margin: 0;
	}
	input[type="search"] {
		border-right-width: 0;
		float: left;
		width: calc( 100% - 42px );
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		-web-webkit-appearance: textfield;
	}
	.search-submit {
		float: right;
		width: 42px;
		height: 42px;
		padding: .5rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.widget_meta,
.widget_rss,
.widget_pages,
.widget_categories,
.widget_archive,
.widget_nav_menu,
.widget_recent_entries,
.widget_recent_comments,
.widget_product_categories {
	ul,
	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
		position: relative;
	}
	li {
		padding-top: .25rem;
		padding-bottom: .25rem;
	}
	ul ul {
		border-left: 2px solid $color__alpha-dark;
		margin-top: .5rem;
		margin-left: .4rem;
		padding-left: 1rem;
	}
	.icon-stroke {
		margin-right: .5rem;
	}
}

.tagcloud {
	margin-left: -2px;
	margin-right: -2px;
	overflow: hidden;
}

.widget_tag_cloud a,
.widget_product_tag_cloud a {
    background-color: transparent;
    border: 1px solid var(--color__text-secondary);
    color: var(--color__text-secondary);
    display: inline-block;
    @include font-size(0.875);
    font-weight: normal;
    line-height: 1;
    padding: 5px 10px;
    margin: 2px 2px;
    float: left;
    text-transform: none;
    position: relative;
    border-radius: .25rem;
	&:hover,
	&:focus {
	    background-color: var(--color__link);
	    border-color: var(--color__link);
	    color: #fff!important;
	    text-decoration: none;
	}
	#tertiary & {
		border-color: var(--color__footer-text);
		color: var(--color__footer-text);
		&:hover,
		&:focus {
		    background-color: var(--color__footer-link-hover);
		    border-color: var(--color__footer-link-hover);
		}
	}
}

.widget_calendar {
	th,
	td {
		padding: .5rem;
	}
}

.null-instagram-feed {
	ul,
	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	ul {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-left: -1px;
		margin-right: -1px;
		margin-bottom: 1px;
		min-width: 100%;
	}

	li {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		position: relative;
		min-height: 1px;
		padding-right: 1px;
		padding-left: 1px;
		margin: 0 0 2px;
		width: 33.33%;
		a {
			display: block;
			&:hover,
			&:focus {
				opacity: 0.5;
			}
		}
		img {
			display: block;
			vertical-align: middle;
		}
	}
	p.clear a {
		background-color: var(--color__button);
		color: var(--color__button-text)!important;
		display: block;
		text-align: center;
		padding: .5rem;
		&:hover,
		&:focus {
			background-color: var(--color__button-hover);
			color: var(--color__button-text-hover)!important;
		}
	}
}
