@keyframes blink {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blink {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

.text__rotator {
	position: relative;
	display: inline-block;
	font-weight: 600;
	height: 100%;
	padding-right: 8px;
	&:after {
		content: " ";
		display: inline-block;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		width: 4px;
		margin-right: 2px;
		background-color: #06a44d;
		animation: blink 1s step-start 0s infinite;
		-webkit-animation: blink 1s step-start 0s infinite;
	}
}

.selectedText {
	display: none;
}

.homepage__hero {
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .homepage-overlay {
    	background-color: rgba(0,0,0,.25);
    }
    .btn-cta {
    	box-shadow: 0 8px 16px rgba(0,0,0,.25);
    }
}


/** Hero */
.homepage__hero-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    transition: all .5s;
    min-height: calc( 100vh - 178px );
    @include respond-to( medium ) {
		min-height: calc( 100vh - 147px );
    }
    .admin-bar & {
    	min-height: calc( 100vh - 224px );
    	@include respond-to( medium ) {
			min-height: calc( 100vh - 179px );
    	}
    }
}

.homepage__hero-inner {
	width: 100%;
}

.homepage__hero-area {
	color: $color__white;
	display: inline-block;
	padding-top: $gutter__width*4;
	padding-bottom: $gutter__width*4;
	width: 100%;
    @include respond-to( medium ) {
		max-width: 50%;
    }
}

.homepage__hero-title {
	font-weight: 400;
	margin-bottom: 1.5rem;
	@include font-size(3);
	line-height: 1;
}

.homepage__hero-description {
	@include font-size(1.125);
	margin-bottom: 2rem;
}

@include respond-to( medium ) {

	.homepage__hero-btn1 {
		margin-right: $gutter__width;
	}

}
