.baltic-twitter__item {
	background-color: $color__white;
	padding: $gutter__width;
	margin-bottom: $gutter__width;
	@include radius-shadow();
	.slick-slider & {
		@include radius-border();
	}
	@include respond-to( medium ) {
		padding: $gutter__width*2;
		margin-bottom: $gutter__width*2;
	}

}

.baltic-twitter.slick-slider {
	margin-bottom: 3rem;
	.baltic-twitter__item {
		border: 1px solid $color__alpha-dark;
		box-shadow: none;
	}
	.baltic-slick-dots {
		bottom: -1.5rem;
	}
}

.baltic-twitter__profile {
	overflow: hidden;
	margin-bottom: $gutter__width;
}

.baltic-twitter__username {
	color: $color__text-main;
	&:hover,
	&:focus {
		color: $color__link;
	}
	span {
		display: block;
	}
}

.baltic-twitter__userpict {
	display: block;
	float: left;
	margin-right: $gutter__width;
}

.baltic-twitter__name {
	font-weight: bold;
}

.baltic-twitter__screen {
	color: $color__text-secondary;
	@include font-size( 0.75 );
}

.baltic-twitter__text {
	margin-bottom: 1rem;
	word-wrap: break-word;
}

a.baltic-twitter__date {
	@include font-size(0.875);
	color: $color__text-secondary;
	&:hover,
	&:focus {
		color: $color__link;
	}
	.icon {
		margin-right: 5px;
	}
}
