.homepage__posts-1,
.homepage__posts-2 {
	@include respond-to( medium) {

		.entry-inner {
			padding: $gutter__width*2;
		}

		.post-thumbnail,
		.entry-media {
		    margin-top: -$gutter__width*2;
		    margin-left: -$gutter__width*2;
		    margin-right: -$gutter__width*2;
		    margin-bottom: $gutter__width*2;
		}

		.entry-title {
			@include font-size(1.25);
			line-height: 1.25;
		}

	}

	.homepage__footer a {
		margin-bottom: 1.5rem;
	}
}

.featured-posts.slick-slider {
	margin-bottom: 3rem;
	.entry-inner {
		border: 1px solid $color__alpha-dark;
		box-shadow: none;
	}
	.baltic-slick-dots {
		bottom: -1.5rem;
	}
}
