/** Baltic admin Notice */
.baltic-notice {
  background: #e9eff3;
  border: 10px solid #fff;
  color: #608299;
  padding: 60px;
  text-align: center;
  box-shadow: none; }

.baltic-notice-content {
  max-width: 420px;
  margin: 0 auto; }

.baltic-activate-button {
  background: #00aadc;
  border-color: #0087be;
  border-style: solid;
  border-width: 1px 1px 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  box-sizing: border-box;
  font-size: 14px;
  height: auto;
  line-height: 21px;
  border-radius: 4px;
  margin: 0;
  padding: 7px 14px 9px;
  appearance: none;
  vertical-align: baseline; }

.baltic-plugin-card .button-hero.updating-message:before,
.baltic-plugin-card .button-hero.updated-message:before {
  color: #fff;
  margin-top: 13px; }

.baltic-wrap {
  margin-right: 10px; }
  @media (min-width: 768px) {
    .baltic-wrap {
      margin-right: 20px; } }

.baltic-support {
  padding-top: 12px; }
  .baltic-support a.btn {
    vertical-align: middle; }

.wp-core-ui .button-premium {
  background: #4caf50;
  border-color: #4caf50;
  box-shadow: 0 1px 0 #388e3c;
  color: #fff;
  text-decoration: none; }
  .wp-core-ui .button-premium:hover, .wp-core-ui .button-premium:focus {
    background: #66bb6a;
    border-color: #4caf50;
    color: #fff; }

.baltic-admin-list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 102%;
  position: relative;
  left: -1%; }
  .baltic-admin-list:after {
    content: "";
    flex: auto; }
  .baltic-admin-list * {
    box-sizing: border-box; }

.baltic-admin-card {
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .baltic-admin-card {
      width: 48%;
      margin: 0 1% 15px; } }
  @media (min-width: 992px) {
    .baltic-admin-card {
      width: 31.333%;
      margin: 0 1% 30px; } }

.baltic-admin-card-body {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 59px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 142px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box; }
  .baltic-admin-card-body img {
    display: block;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 100px;
    max-height: 100px; }
  .baltic-admin-card-body h2,
  .baltic-admin-card-body p,
  .baltic-admin-card-body .baltic-plugin-card {
    padding-left: 120px; }

.baltic-admin-card-footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px; }

span.plugin-detail {
  float: right; }
  span.plugin-detail a {
    vertical-align: middle; }

span.premium-label {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  background: #00BCD4;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px; }
