.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: $color__button;
	border: 1px solid $color__button;
	color: $color__white;
	cursor: pointer;
    display: inline-block;
    @include font-size(1);
    font-weight: 400;
	line-height: 1;
    text-align: center;
    vertical-align: middle;
    user-select: none;
	padding: .75rem 1rem;
	position: relative;
	vertical-align: top;
	transition-property: background, color, opacity, transform, box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
	border-radius: .25rem;

	&:hover,
	&:active,
	&:focus {
		background-color: $color__button-hover;
		border-color: $color__button-hover;
		color: #fff;
	}

	&:focus {
		box-shadow: 0 0 0 4px rgba( 0, 0, 0, .05 );
		outline: none;
		z-index: 1;
	}

}
