.comment-navigation,
.posts-navigation,
.post-navigation {
	position: relative;
	clear: both;
	margin: 0 0 $gutter__width;
	overflow: hidden;
	width: 100%;
	box-shadow: 0 8px 16px rgba( 0,0,0,.1 );

	.site-main & {
		background-color: $color__white;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}

	a {
		color: $color__text-main;
		display: inline-block;
		@include font-size(0.875);
		font-weight: bold;
		padding: $gutter__width;
		text-transform: uppercase;
		@include respond-to( large ){
			padding-left: $gutter__width*4;
			padding-right: $gutter__width*4
		}
		span {
			color: $color__text-secondary;
			display: block;
			text-transform: lowercase;
		}
		&:hover,
		&:focus {
			color: $color__link-hover;
			span {
				color: $color__text-secondary;
				opacity: 0.75;
			}
		}
	}

}

/** Pagination */
.pagination {
	background-color: $color__white;
	display: block;
	clear: both;
	overflow: hidden;
	position: relative;
	margin-bottom: $gutter__width;
	border-radius: 0.25rem;
	text-align: center;
	box-shadow: 0 8px 16px rgba( 0,0,0,.1 );
}
