html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	font-weight: 400;
    max-width: 100vw;
    overflow-x: hidden;
}

hr {
	background-color: var(--color__hr);
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0; /* Extra wide images within figure tags don't overflow the content area. */
}

::selection {
	background: var(--color__selection-background);
	color: var(--color__selection-text);
}
::-moz-selection {
	background: var(--color__selection-background);
	color: var(--color__selection-text);
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes balticZoomOut {
	0% {
		visibility: visible;
		opacity: 1;
		transform: scale(1);
	}

	100% {
		visibility: hidden;
		opacity: 0;
		transform: scale(0);
	}
}

@keyframes balticZoomIn {
	0% {
		visibility: hidden;
		opacity: 0;
		transform: scale(0);
	}

	100% {
		visibility: visible;
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes balticSlideDown {
	0% {
		top: -100%;
	}
	100% {
		top: 0;
	}
}

@import "tables";
