/** Baltic admin Notice */

.baltic-notice {
	padding: 60px;
	border: 10px solid #fff;
	color: #608299;
	background: #e9eff3;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-align: center;
}

.baltic-notice-content {
	max-width: 420px;
	margin: 0 auto;
}

.baltic-activate-button {
	display: inline-block;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: auto;
	margin: 0;
	padding: 7px 14px 9px;
	border-width: 1px 1px 2px;
	border-style: solid;
	border-color: #0087be;
	border-radius: 4px;
	outline: 0;
	color: #fff;
	background: #00aadc;
	text-shadow: none;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	vertical-align: baseline;
	text-decoration: none;
	text-transform: none;
	text-overflow: ellipsis;
	cursor: pointer;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.baltic-plugin-card .button-hero.updating-message:before,
.baltic-plugin-card .button-hero.updated-message:before {
	margin-top: 13px;
	color: #fff;
}

.baltic-wrap {
	margin-right: 10px;
}

.baltic-support {
	padding-top: 12px;
}

.baltic-support a.btn {
	vertical-align: middle;
}

.wp-core-ui .button-premium {
	border-color: #4caf50;
	color: #fff;
	background: #4caf50;
	-webkit-box-shadow: 0 1px 0 #388e3c;
	box-shadow: 0 1px 0 #388e3c;
	text-decoration: none;
}

.wp-core-ui .button-premium:hover,
.wp-core-ui .button-premium:focus {
	border-color: #4caf50;
	color: #fff;
	background: #66bb6a;
}

.baltic-admin-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	left: -1%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 102%;

	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: justify;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.baltic-admin-list:after {
	content: "";

	-webkit-box-flex: 1;
	-ms-flex: auto;
	flex: auto;
}

.baltic-admin-list * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.baltic-admin-card {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}

.baltic-admin-card-body {
	overflow: hidden;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 142px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 59px;
	padding-left: 20px;
	background-color: #fff;
}

.baltic-admin-card-body img {
	display: block;
	float: left;
	max-width: 100px;
	max-height: 100px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.baltic-admin-card-body h2,
.baltic-admin-card-body p,
.baltic-admin-card-body .baltic-plugin-card {
	padding-left: 130px;
}

.baltic-admin-card-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	border-top: 1px solid #ddd;
	background-color: #fafafa;
}

span.plugin-detail {
	float: right;
}

span.plugin-detail a {
	vertical-align: middle;
}

span.premium-label {
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 5px 10px;
	border-radius: 3px;
	color: #fff;
	background: #00bcd4;
}

@media (min-width: 768px) {
	.baltic-wrap {
		margin-right: 20px;
	}

	.baltic-admin-card {
		width: 48%;
		margin: 0 1% 15px;
	}
}

@media (min-width: 992px) {
	.baltic-admin-card {
		width: 31.333%;
		margin: 0 1% 30px;
	}
}
