.header-menu-toggle {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    color: var(--color__header-text);
    cursor: pointer;
    padding: 0;
    top: 1.5rem;
    left: 1rem;
    opacity: 0;
    transition: all .5s ease-in-out;
    transform: scale(0);
    z-index: 5;

    &:hover,
    &:focus,
    &:active {
    	background-color: transparent;
		border-color: transparent;
		color: var(--color__header-text);
		box-shadow: none;
    }

	.icon-stroke {
	    width: 2rem;
	    height: 2rem;
	}

	&.toggled .icon-menu,
    .icon-close {
    	display: none;
    }

    &.toggled .icon-close {
    	display: block;
    }

    .sticky & {
    	transform: scale(1);
    	opacity: 1;
    }
}

.menu-toggle {
	background-color: var(--color__header-background);
	border: var(--color__header-background);
	color: var(--color__header-text);
	@include font-size(1);
	font-weight: bold;
	width: 100%;
	height: 50px;
	text-transform: uppercase;
	position: relative;
	text-align: left;
	border-radius: 0;
    box-shadow: 0 0 0 0;
    .toggled &,
	&:hover,
	&:focus {
		background-color: var(--color__header-background);
		border-color: var(--color__header-background);
		color: var(--color__header-text);
		box-shadow: none;
	}
	.icon-stroke {
		margin-right: 1rem;
		position: relative;
		top: -.1rem;
		.toggled &.icon-close {
			display: inline-block;
		}

		.toggled &.icon-menu,
		&.icon-close {
			display: none;
		}
	}
}

.sub-menu-toggle {
	background-color: transparent;
	border: none;
	border-left: 1px solid rgba(255,255,255,.025);
	width: 48px;
	height: 48px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	border-radius: 0;
	box-shadow: 0 0 0 rgba(0,0,0,0);
	.icon-stroke {
		display: inline-block;
		width: 1rem;
		height: 1rem;
		stroke: var(--color__submenu-text);
		margin: 0!important;
	}

	.icon-chevron-top,
	&.toggled .icon-chevron-bottom {
		display: none;
	}

	&.toggled .icon-chevron-top {
		display: inline-block;
	}

	&:active,
	&:hover,
	&:focus {
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

}

@include respond-to( tablet ) {
	.menu-toggle,
	.sub-menu-toggle {
		display: none;
	}
}
