.comment-navigation,
.posts-navigation,
.post-navigation {
	position: relative;
	clear: both;
	margin-bottom: 1rem;
	width: 100%;

	.nav-links {
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}

	a {
		color: var(--color__text-primary);
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		padding: 1rem 0;
		text-transform: uppercase;
		span {
			color: var(--color__text-secondary);
			display: block;
			text-transform: lowercase;
		}
		&:hover,
		&:focus {
			color: var(--color__link);
			span {
				color: var(--color__text-secondary);
				opacity: 0.75;
			}
		}
	}

	@include respond-to( tablet ) {
		margin-bottom: 1.5rem;
	}

}

.posts-navigation,
.post-navigation {
	.full-layout & {
		background-color: var(--color__container);
		border: none;
		@include radius-shadow();
		a {
			padding: 1rem;
		}
	}
}

.comment-navigation a {
	padding: 1rem 0;
}

/** Pagination */
.pagination {
	display: block;
	clear: both;
	position: relative;
	margin-bottom: 1rem;
	text-align: center;
	@include respond-to( tablet ) {
		margin-bottom: 2rem;
	}
}

.page-numbers {
	background-color: var(--color__container);
	border: 1px solid var(--color__text-secondary);
	color: var(--color__text-primary);
	font-weight: 500;
	display: none;
	width: 56px;
	height: 56px;
	line-height: 56px;
	position: relative;
	border-radius: .25rem;
	.full-layout & {
		border: none;
		@include radius-shadow();
	}
	&.current {
		background-color: var(--color__button);
		border-color: var(--color__button-border);
		color: var(--color__button-text);
		display: inline-block;
		width: auto;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		.screen-reader-text {
		    clip: auto;
		    clip-path: inherit;
		    height: auto;
		    overflow: auto;
		    position: relative !important;
		    width: auto;
		}
	}
	&.next,
	&.prev {
		padding-left: 0;
		padding-right: 0;
		display: block;
		position: absolute;
		top: 0;
	}
	&.next {
		right: 0;
	}
	&.prev {
		left: 0;
	}
	&:hover:not(.current),
	&:focus:not(.current) {
		background-color: var(--color__button);
		border-color: var(--color__button-border);
		color: var(--color__button-text);
	}
	&.dots{
		&:hover,
		&:focus {
			background-color: $color__white;
			border-color: var(--color__text-secondary)!important;
			color: var(--color__text-primary)!important;
		}
	}

	@include respond-to( tablet ) {
		display: inline-block;
		&.current {
			background-color: var(--color__button);
			border-color: var(--color__button-border);
			color: var(--color__button-text);
			padding: 0;
			width: 56px;
			.screen-reader-text {
			    clip: rect(1px, 1px, 1px, 1px);
			    clip-path: inset(50%);
			    height: 1px;
			    overflow: hidden;
			    position: absolute !important;
			    width: 1px;
			}
		}
	}
}
