.comment-navigation,
.posts-navigation,
.post-navigation {
	background-color: $color__white;
	position: relative;
	clear: both;
	margin: 0 0 $gutter__width;
	overflow: hidden;
	width: 100%;
	@include radius-shadow();

	.site-main & {
		background-color: $color__white;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}

	a {
		color: $color__text-main;
		display: inline-block;
		@include font-size(0.875);
		font-weight: bold;
		padding: $gutter__width;
		text-transform: uppercase;
		@include respond-to( medium ){
			padding-top: $gutter__width*2;
			padding-bottom: $gutter__width*2;
			padding-left: $gutter__width*3;
			padding-right: $gutter__width*3;
		}
		span {
			color: $color__text-secondary;
			display: block;
			text-transform: lowercase;
		}
		&:hover,
		&:focus {
			color: $color__link-hover;
			span {
				color: $color__text-secondary;
				opacity: 0.75;
			}
		}
	}

	@include respond-to( medium ){
		margin-bottom: $gutter__width*2;
	}

}

.comment-navigation {
	box-shadow: none;
	a {
		padding: 0;
	}
}

/** Pagination */
.pagination {
	background-color: $color__white;
	display: block;
	clear: both;
	overflow: hidden;
	position: relative;
	margin-bottom: $gutter__width;
	text-align: center;
	@include radius-shadow();
	@include respond-to( medium ){
		margin-bottom: $gutter__width*2;
	}
}

.page-numbers {
	color: $color__text-main;
	font-weight: 500;
	display: none;
	padding: 1rem 1.25rem;
	position: relative;
	&.current {
		color: $color__text-main;
		display: inline-block;
		.screen-reader-text {
		    clip: auto;
		    height: auto;
		    overflow: auto;
		    position: relative !important;
		    width: auto;
		}
	}
	&.next,
	&.prev {
		display: block;
		position: absolute;
		top: 0;
	}
	&.next {
		right: 0;
	}
	&.prev {
		left: 0;
	}
	&:hover:not(.current),
	&:focus:not(.current) {
		color: $color__link-hover;
	}
	&.dots{
		&:hover,
		&:focus {
			color: $color__text-main!important;
		}
	}

	@include respond-to( medium ){
		display: inline-block;
		&.current {
			color: $color__link;
			.screen-reader-text {
			    clip: rect(1px, 1px, 1px, 1px);
			    height: 1px;
			    overflow: hidden;
			    position: absolute !important;
			    width: 1px;
			}
		}
	}
}
