/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		background-color: var(--color__button);
		clip: auto !important;
		color: var(--color__button-text);
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: .5rem;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: .5rem;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
		box-shadow: 0 8px 32px  rgba(0, 0, 0, 0.25);
	}
}

/* Do not show the outline on the skip link target. */
#page[tabindex="-1"]:focus,
#site-navigation[tabindex="-1"]:focus,
#main[tabindex="-1"]:focus,
#content[tabindex="-1"]:focus,
#secondary[tabindex="-1"]:focus,
.entry[tabindex="-1"]:focus,
#quick-view-container[tabindex="-1"]:focus {
	outline: 0;
}
