.alignleft,
.alignright,
.aligncenter {
	clear: both;
	@include center-block;
	margin-bottom: 1.5rem;
	img {
		margin: 0;
	}
}

@include respond-to( mobile ) {
	.alignleft,
	.alignright {
		clear: none;
		display: inline;
	}
	.alignleft {
		/*rtl:ignore*/
		float: left;
		/*rtl:ignore*/
		margin-right: 1em;
	}
	.alignright {
		/*rtl:ignore*/
		float: right;
		/*rtl:ignore*/
		margin-left: 1em;
	}
}
