.sticky {
	display: block;
}

.entry-inner {
	background-color: $color__white;
	padding: $gutter__width;
	margin-bottom: $gutter__width;
	box-shadow: 0 8px 16px rgba( 0,0,0,.1 );
	.sticky &{
		background-color: #673ab7;
		color: rgba( 255,255,255,.5 );
	}

	@include respond-to( medium ){
		margin-bottom: $gutter__width*2;
	}

	@include respond-to( large ){
		padding: $gutter__width*4;
		padding-bottom: $gutter__width*2;
	}
}

.updated:not(.published) {
	display: none;
}

.entry-thumbnail {
	background-color: $color__text-main;
	display: block;
	position: relative;
	overflow: hidden;
	margin-top: -$gutter__width;
	margin-left: -$gutter__width;
	margin-right: -$gutter__width;
	margin-bottom: $gutter__width;
	img {
		display: block;
		vertical-align: bottom;
		transition: all ease-in-out .5s;
	}
	a {
		position: relative;
		display: block;
		overflow: hidden;
		&:after{
			content: " ";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: all ease-in-out .25s;
		}
		&:hover:after,
		&:focus:after {
			background-color: rgba(255,255,255,.25);
		}
		&:hover,
		&.focus {
			img {
				transform: scale(1.1);
			}
		}
	}
	&.alignleft {
		max-width: 40%;
		margin-top: -$gutter__width;
		margin-left: -$gutter__width;
		margin-bottom: -$gutter__width;
		@include respond-to( medium ) {
			max-width: 100%;
		}
	}
	@include respond-to( large ){
		margin-top: -$gutter__width*4;
		margin-left: -$gutter__width*4;
		margin-right: -$gutter__width*4;
	}
}

.entry-title {
	color: $color__text-main;
	@include font-size(1.5);
	margin-bottom: 1rem;
	line-height: 1;
	position: relative;
	a {
		color: $color__text-main;
		&:hover,
		&:focus {
			color: $color__link-hover;
		}
		.sticky & {
			color: $color__white;
			&:hover,
			&:focus {
				color: $color__link-hover;
			}
		}
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5rem;
}

a.more-link {
	border: 1px solid $color__text-main;
	color: $color__text-main;
	display: inline-block;
	padding: .5rem 1.25rem;
	padding-right: 0;
	border-radius: 2rem;
	transition: all ease-in-out .25s;
	.icon-stroke {
		left: -20px;
		opacity: 0;
		stroke: $color__white;
	}
	&:hover,
	&:focus {
		background-color: $color__link;
		border-color: $color__link;
		color: $color__white;
		padding-right: 1rem;
		.icon-stroke {
			left: 0;
			opacity: 1;
		}
	}
	.sticky & {
		border-color: $color__white;
		color: $color__white;
		&:hover,
		&:focus {
			background-color: $color__link;
			border-color: $color__link;
		}
	}
}
