.comments-area {
	background-color: $color__white;
	border-top: 1px solid $color__alpha-dark05;
	clear: both;
	padding: $gutter__width;
	margin-bottom: $gutter__width;
	@include radius-shadow();

	@include respond-to( medium ){
		padding: $gutter__width*2;
		margin-bottom: $gutter__width*2;
	}

	@include respond-to( large ){
		padding: $gutter__width*3;
		margin-bottom: $gutter__width*4;
	}
}

.bypostauthor {
	display: block;
}

.comments-title {
	@include font-size(1.25);
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	position: relative;
	&:before {
		background-color: $color__text-secondary;
		content: " ";
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 32px;
		height: 2px;
	}
}

.comment-list,
.commentlist {
	margin: 0;
	padding: 0;
	list-style-type: none;
	.comment {
		margin-top: 1.5rem;
		.children {
			margin: 0;
			list-style-type: none;
			padding-left: 0;
			.comment {
				border-left: 4px solid $color__alpha-dark05;
				padding-left: 1.5rem;
			}
		}
		.avatar {
			float: left;
			margin-right: 1em;
			display: block;
			vertical-align: top;
			width: 48px;
			border-radius: 48px;
		}
		.comment-respond {
			padding-bottom: 1.5rem;
		}
	}

	.pingback {
		border-bottom: 4px solid $color__alpha-dark05;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

}


.no-comments {
	padding: 1em 1.5em 0;
	margin-bottom: 0;
}

.comment-meta {
	position: relative;
	a {
		color: $color__text-main;
		@include font-size(1.125);
		font-weight: bold;
		&:hover,
		&:focus {
			color: $color__link;
		}
	}
	.edit-link {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.comment-metadata a {
	color: $color__text-secondary;
	@include font-size(0.75);
}

.comment-content {
	padding-top: 1.5em;
	&,
	a {
		word-wrap: break-word;
	}
}

.comment-body > .reply a {
	background: transparent;
	border: 1px solid $color__text-secondary;
	color: $color__text-secondary;
	display: inline-block;
	@include font-size(0.875);
	line-height: 1;
	padding: .5rem 1.5em;
	margin-bottom: 1.5rem;
	border-radius: .25rem;
	&:hover,
	&:focus {
		background-color: $color__link;
		border-color: $color__link;
		color: $color__white;
		box-shadow: 0 4px 8px rgba( 0,0,0,.2 );
	}
}

.comment-reply-title {
	@include font-size(1.125);
	display: block;
	margin-bottom: 1rem;
	position: relative;
}

#cancel-comment-reply-link {
	background-color: transparent;
	border: 1px solid $color__text-secondary;
	color: $color__text-secondary;
	padding: .25rem .5rem;
	margin-left: .5rem;
	&:hover,
	&:focus {
		background-color: $color__link;
		border-color: $color__link;
		color: $color__white;
	}
}

.comment-form {
	input {
		width: 100%;
	}
}

@include respond-to( medium ){
	p.comment-form-email {
		float: left;
		width: 50%;
		padding-right: 15px;
	}

	p.comment-form-url {
		float: right;
		width: 50%;
		padding-left: 15px;
	}

	.comment-form input[type="submit"] {
		width: auto;
	}
}
