.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5rem 0 0;
}

.entry-inner {
	margin-bottom: 1rem;
	position: relative;
	word-wrap: break-word;

	@include respond-to( desktop ) {
		margin-bottom: 1.5rem;
	}

	.full-layout &,
	.boxed-layout .sticky &  {
		background-color: var(--color__container);
		padding: 1rem;
		@include radius-shadow();
		@include respond-to( desktop ) {
			padding: 2rem;
			margin-bottom: 1.5rem;
		}
	}

	.full-layout .sticky &,
	.boxed-layout .sticky & {
		background-color: var(--color__sticky);
		color: rgba( 255,255,255,.5 );
	}

}

.post-thumbnail {
	background-color: var(--color__text-primary);
	display: block;
	position: relative;
	overflow: hidden;
	margin-bottom: 1.5rem;
	img {
		display: block;
		vertical-align: bottom;
		transition: all ease-in-out .25s;
	}
	.thumbnail-placeholder {
		display: block;
		width: 100%;
		height: auto;
		fill: #202020;
		transition: all ease-in-out .25s;
	}
	a {
		position: relative;
		display: block;
		overflow: hidden;
		&:after{
			content: " ";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: all ease-in-out .25s;
		}
		&:hover:after,
		&:focus:after {
			background-color: rgba(255,255,255,.25);
		}
		&:hover,
		&.focus {
			img,
			.thumbnail-placeholder {
				transform: scale(1.1);
			}
		}
	}

	.full-layout &,
	.boxed-layout .sticky & {
		border-top-left-radius: .25rem;
		border-top-right-radius: .25rem;
		margin-top: -1rem;
		margin-left: -1rem;
		margin-right: -1rem;
		@include respond-to( desktop ) {
			margin-top: -2rem;
			margin-left: -2rem;
			margin-right: -2rem;
		}
	}

}

.entry-title {
	color: var(--color__text-primary);
	@include font-size(1.125);
	margin-bottom: 1rem;
	position: relative;

	a {
		color: var(--color__text-primary);
		&:hover,
		&:focus {
			color: var(--color__link-hover);
		}
		.sticky & {
			color: $color__white;
			&:hover,
			&:focus {
				color: var(--color__link-hover);
			}
		}
	}

	@include respond-to( tablet ) {
		@include font-size( 1.75);
	}

}

.page-links {
	background-color: $color__alpha-dark05;
	clear: both;
	margin: 0 0 1.5rem;
	text-align: center;
	overflow: hidden;
    border-radius: .25rem;
    font-size: 0;
	a,
	.page-number {
		display: inline-block;
	}
	.page-number {
		background-color: var(--color__button);
		color: var(--color__button-text);
		padding: 1rem 1.5rem;
		@include font-size(1);
	}
	a {
		&,
		.page-number {
			background-color: transparent;
			color: var(--color__text-primary);
		}
		&:hover,
		&:focus {
			background-color: var(--color__button-hover);
			color: var(--color__button-text-hover);
		}
	}
}

a.more-link {
	border: 1px solid var(--color__text-primary);
	color: var(--color__text-primary);
	display: inline-block;
	padding: .5rem 1.25rem;
	padding-right: 0;
	border-radius: 2rem;
	transition: all ease-in-out .25s;
	.icon-stroke {
		left: -20px;
		opacity: 0;
		stroke: $color__white;
	}
	&:hover,
	&:focus {
		background-color: var(--color__button);
		border-color: var(--color__button);
		color: var(--color__button-text);
		padding-right: 1rem;
		box-shadow: 0 8px 16px rgba( 0,0,0,.25 );
		.icon-stroke {
			left: 0;
			opacity: 1;
		}
	}
	.sticky & {
		border-color: $color__white;
		color: $color__white;
		&:hover,
		&:focus {
			background-color: var(--color__button);
			border-color: var(--color__button);
			color: var(--color__button-text);
		}
	}
}

.entry-meta {
	margin-bottom: 1.5rem;
	@include font-size( 0.875 );
	span {
		display: inline-block;
	}
	.posted-on,
	.author {
		margin-right: .5rem;
	}
	.icon-stroke {
		margin-right: .25rem;
	}
	a {
		color: var(--color__text-secondary);
		&:hover,
		&:focus {
			color: var(--color__link-hover);
		}
		.sticky & {
			color: $color__white;
			&:hover,
			&:focus {
				color: var(--color__link-hover);
			}
		}
	}
}

.entry-footer {
	border-top: 2px solid $color__alpha-dark;
	@include font-size(0.875);
	overflow: hidden;
	padding: 1rem 0;
	span {
		display: inline-block;
	}

	.icon-stroke {
		margin-right: .25rem;
	}

	a {
		color: var(--color__text-secondary);
		&:hover,
		&:focus {
			color: var(--color__link-hover);
		}

		.sticky & {
			color: $color__white;
			&:hover,
			&:focus {
				color: var(--color__link-hover);
			}
		}
	}

	span.edit-link {
		float: right;
		a {
			border: 1px solid rgba( 0,0,0,.5);
			display: inline-block;
			float: right;
			padding: 0 1rem;
			border-radius: .25rem;
			&:hover,
			&:focus {
				background-color: var(--color__link-hover);
				border-color: var(--color__link-hover);
				color: $color__white;
			}
			.sticky & {
				background-color: transparent;
				border-color: $color__white;
				color: $color__white;
				&:hover,
				&:focus {
					background-color: var(--color__link-hover);
					border-color: var(--color__link-hover);
					color: $color__white;
				}
			}
		}
	}

	.full-layout &,
	.boxed-layout .sticky & {
		background-color: rgba( 0,0,0,.025 );
		border-top: 1px solid $color__alpha-dark;
		padding: 1rem;
		margin-left: -1rem;
		margin-right: -1rem;
		margin-bottom: -1rem;
		@include respond-to( desktop ) {
			padding: 1rem 2rem;
			margin-left: -2rem;
			margin-right: -2rem;
			margin-bottom: -2rem;
		}
	}

}

.cat-links,
.tags-links {
	margin-right: .5rem;
}

.author-info {
	background-color: var(--color__container);
	padding: 1rem 0;
	margin-bottom: 1rem;
	overflow: hidden;
	text-align: center;

	@include respond-to( tablet ) {
		padding: 2rem 0;
		padding-top: 2rem;
		margin-bottom: 1.5rem;
		text-align: left;
	}

	.full-layout & {
		padding: 1rem;
		border-radius: .25rem;
		box-shadow: 0 16px 32px $color__alpha-dark05;
		@include respond-to( tablet ) {
			padding: 2rem;
		}
	}

}

.author-detail {
	@include respond-to( tablet ) {
		padding-left: 84px;
	}
}

.author-avatar {
	display: inline-block;
	overflow: hidden;
	width: 64px;
	border-radius: 64px;
	margin-bottom: 1rem;
	img {
		display: block;
		vertical-align: middle;
	}
	@include respond-to( tablet ) {
		float: left;
	}
}

h2.author-title {
	@include font-size(1.125);
	line-height: 1;
}

.author-description p:last-child {
	margin-bottom: 0;
}

// 404
.error404 {
	.site-content {
		min-height: calc( 100vh - 172px );
		text-align: center;
		padding: 0;
	    display: -webkit-box;
	    display: flex;
	    text-align: center;
	    align-items: center;
	    -webkit-box-align: center;
	    -webkit-box-pack: center;
	    justify-content: center;
	}
	h1.404-title {
		@include font-size(3);
		text-transform: uppercase;
	}
}

.error-404 {
	padding-top: 2rem;
	padding-bottom: 1rem;
}
