.baltic-responsive-buttons,
.customize-control-title {
	display: inline-block;
}

.baltic-responsive-buttons {
	float: right;
	line-height: 1;
	margin-top: 5px;

	> li {
		margin-bottom: 0;
		display: none;
		&.active {
			display:  inline-block;
		}
	}

	button[type="button"] {
		padding: 0;
		cursor: pointer;
		background: none;
		border: none;
		opacity: .75;
		outline: none;
	}

}

.baltic-responsive-buttons {

	button[type="button"] > i {
		width: 15px;
		height: 15px;
		font-size: 15px;
	}

}

.customize-control-baltic-responsive-units {

	.input-wrapper {

		input {
			display: none;
			width: calc(100% - 52px);
			float: left;
			&.active {
				display: inline-block;
			}
		}

		.baltic-responsive-select {
			width: 50px;
			margin: 0;
			display: none;
			padding: .1em;
			margin-left: 2px;
			height: 40px;
			@include respond-to( tablet ) {
				height: 28px;
			}
		}

		.baltic-responsive-input.active + .baltic-responsive-select {
			display: inline-block;
		}

	}

}
